@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Comme:wght@200;600;800&family=Jost:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 400; /* Light */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jost", sans-serif;
}

/* #ab8e66 */

/* Shop Button Style Start */
.shop-btn {
    color: #000;
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 5px;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    transition: all 0.4s ease 0s;
}

.shop-btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid;
}
.shop-btn:hover {
    color: #ab8e66;
    background: none;
}
.shop-btn:hover::before {
    -webkit-animation: underline-link 0.8s cubic-bezier(0.58, 0.3, 0.005, 1) 0s
        1;
    animation: underline-link 0.8s cubic-bezier(0.58, 0.3, 0.005, 1) 0s 1;
}

@-webkit-keyframes underline-link {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    50.01% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes underline-link {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    50.01% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
/* Shop Button Style End */
